Modelo Conceitual

Modelo LÃ³gico

PESSOA (id, idade, genero, idEmpresa, idEstado)
idEmpresa-> Chave Estrangeira: Empresa(id)
idEstado> Chave Estrangeira: Estado(id)

PESSOA_RESPOSTA (id, idPessoa, data_hora, busca_tratamento, interfere_trabalho, conhece_opcoes, programa_saude, oferece_recursos, anonimidade, licenca_medica, mental_consequencia, fisica_consequencia, colegas_trabalho, supervisor, mental_entrevista, fisica_entrevista, mental_fisica, houve_consequencias)
idPessoa -> Chave Estrangeira: Pessoa(id)

EMPRESA(id, n_funcionarios, area_atuacao, beneficios)

ESTADO(id, nome, sigla, idPais)
idPais> Chave Estrangeira: Pais(id)

PAIS(id, nome)

In [ ]:
%defaultDatasource jdbc:h2:mem:db

In [ ]:
DROP TABLE IF EXISTS Estado;
CREATE TABLE Estado (
  id VARCHAR(10) NOT NULL,
  nome VARCHAR(50),
  sigla VARCHAR(2),
  idPais VARCHAR(10),
  PRIMARY KEY(id),
  FOREIGN KEY(idPais)
    REFERENCES Pais(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

DROP TABLE IF EXISTS Pais;
CREATE TABLE Pais (
  id VARCHAR(10) NOT NULL,
  nome VARCHAR(50),
  PRIMARY KEY(id)
);

DROP TABLE IF EXISTS Empresa;
CREATE TABLE Empresa (
  id VARCHAR(10) NOT NULL,
  n_funcionarios SMALLINT,
  area_atuacao VARCHAR(50),
  beneficios VARCHAR(50),
  PRIMARY KEY(id)
) AS SELECT

FROM CSVREAD('');

DROP TABLE IF EXISTS Pessoa;
CREATE TABLE Pessoa (
  id VARCHAR(10) NOT NULL,
  genero VARCHAR(10),
  idade SMALLINT,
  idEmpresa VARCHAR(10),
  idEstado VARCHAR(10),
  PRIMARY KEY(id),
  FOREIGN KEY(idEmpresa)
    REFERENCES Empresa(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(idEstado)
    REFERENCES Estado(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
) AS SELECT

FROM CSVREAD('');

DROP TABLE IF EXISTS Pessoa_Resposta;
CREATE TABLE Pessoa_Resposta (
  id VARCHAR(10) NOT NULL,
  idPessoa VARCHAR(10) NOT NULL,
  data_hora VARCHAR(10),
  busca_tratamento VARCHAR(10),
  interfere_trabalho VARCHAR(10),
  conhece_opcoes VARCHAR(10),
  programa_saude VARCHAR(10),
  oferece_recursos VARCHAR(10),
  anonimidade VARCHAR(10),
  licenca_medica VARCHAR(10),
  mental_consequencia VARCHAR(10),
  fisica_consequencia VARCHAR(10),
  colegas_trabalho VARCHAR(10),
  supervisor VARCHAR(10),
  mental_entrevista VARCHAR(10),
  fisica_entrevista VARCHAR(10),
  mental_fisica VARCHAR(10),
  houve_consequencias VARCHAR(10),
  PRIMARY KEY(id),
  FOREIGN KEY(idPessoa)
    REFERENCES Pessoa(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
) AS SELECT

FROM CSVREAD('');

In [ ]:
INSERT INTO Pais (id, nome) VALUES(1,);
INSERT INTO Pais (id, nome) VALUES(1,);
INSERT INTO Pais (id, nome) VALUES(1,);