Modelo Conceitual
<img src="https://github.com/gtabchoury/trabalhoMC536/blob/master/documentos/Modelo%20Conceitual.png"><img>

Modelo LÃ³gico

PESSOA (id, idade, genero, estado, idEmpresa)
idEmpresa-> Chave Estrangeira: Empresa(id)
estado> Chave Estrangeira: Estado(sigla)

PESSOA_RESPOSTA (id, idPessoa, data_hora, busca_tratamento, interfere_trabalho, conhece_opcoes, programa_saude, oferece_recursos, anonimidade, licenca_medica, mental_consequencia, fisica_consequencia, colegas_trabalho, supervisor, mental_entrevista, fisica_entrevista, mental_fisica, houve_consequencias)
idPessoa -> Chave Estrangeira: Pessoa(id)

EMPRESA(id, n_funcionarios, area_atuacao, beneficios)

ESTADO(sigla, pais)
pais> Chave Estrangeira: Pais(nome)

PAIS(nome)

In [1]:
%defaultDatasource jdbc:h2:mem:db

In [2]:
DROP TABLE IF EXISTS Pais;
CREATE TABLE Pais (
  nome VARCHAR(50),
  PRIMARY KEY(nome)
);

DROP TABLE IF EXISTS Estado;
CREATE TABLE Estado (
  nome VARCHAR(50),
  sigla VARCHAR(2),
  pais VARCHAR(10),
  PRIMARY KEY(sigla),
  FOREIGN KEY(pais)
    REFERENCES Pais(nome)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

DROP TABLE IF EXISTS Empresa;
CREATE TABLE Empresa (
  id VARCHAR(10) NOT NULL,
  n_funcionarios SMALLINT,
  area_atuacao VARCHAR(50),
  beneficios VARCHAR(50),
  PRIMARY KEY(id)
);

DROP TABLE IF EXISTS Pessoa;
CREATE TABLE Pessoa (
  id VARCHAR(10) NOT NULL,
  genero VARCHAR(10),
  idade SMALLINT,
  empresa VARCHAR(10),
  estado VARCHAR(10),
  PRIMARY KEY(id),
  FOREIGN KEY(empresa)
    REFERENCES Empresa(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(estado)
    REFERENCES Estado(sigla)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

DROP TABLE IF EXISTS Pessoa_Resposta;
CREATE TABLE Pessoa_Resposta (
  id VARCHAR(10) NOT NULL,
  idPessoa VARCHAR(10) NOT NULL,
  data_hora VARCHAR(10),
  busca_tratamento VARCHAR(10),
  interfere_trabalho VARCHAR(10),
  conhece_opcoes VARCHAR(10),
  programa_saude VARCHAR(10),
  oferece_recursos VARCHAR(10),
  anonimidade VARCHAR(10),
  licenca_medica VARCHAR(10),
  mental_consequencia VARCHAR(10),
  fisica_consequencia VARCHAR(10),
  colegas_trabalho VARCHAR(10),
  supervisor VARCHAR(10),
  mental_entrevista VARCHAR(10),
  fisica_entrevista VARCHAR(10),
  mental_fisica VARCHAR(10),
  houve_consequencias VARCHAR(10),
  PRIMARY KEY(id),
  FOREIGN KEY(idPessoa)
    REFERENCES Pessoa(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
);

In [3]:
INSERT INTO Pais (nome) VALUES('Australia');
INSERT INTO Pais (nome) VALUES('Austria');
INSERT INTO Pais (nome) VALUES('Belgium');
INSERT INTO Pais (nome) VALUES('Bosnia and Herzegovina');
INSERT INTO Pais (nome) VALUES('Brazil');
INSERT INTO Pais (nome) VALUES('Bulgaria');
INSERT INTO Pais (nome) VALUES('Canada');
INSERT INTO Pais (nome) VALUES('China');
INSERT INTO Pais (nome) VALUES('Colombia');
INSERT INTO Pais (nome) VALUES('Costa Rica');
INSERT INTO Pais (nome) VALUES('Croatia');
INSERT INTO Pais (nome) VALUES('Czech Republic');
INSERT INTO Pais (nome) VALUES('Denmark');
INSERT INTO Pais (nome) VALUES('Finland');
INSERT INTO Pais (nome) VALUES('France');
INSERT INTO Pais (nome) VALUES('Georgia');
INSERT INTO Pais (nome) VALUES('Germany');
INSERT INTO Pais (nome) VALUES('Greece');
INSERT INTO Pais (nome) VALUES('Hungary');
INSERT INTO Pais (nome) VALUES('India');
INSERT INTO Pais (nome) VALUES('Ireland');
INSERT INTO Pais (nome) VALUES('Israel');
INSERT INTO Pais (nome) VALUES('Italy');
INSERT INTO Pais (nome) VALUES('Japan');
INSERT INTO Pais (nome) VALUES('Latvia');
INSERT INTO Pais (nome) VALUES('Mexico');
INSERT INTO Pais (nome) VALUES('Moldova');
INSERT INTO Pais (nome) VALUES('Netherlands');
INSERT INTO Pais (nome) VALUES('New Zealand');
INSERT INTO Pais (nome) VALUES('Nigeria');
INSERT INTO Pais (nome) VALUES('Norway');
INSERT INTO Pais (nome) VALUES('Philippines');
INSERT INTO Pais (nome) VALUES('Poland');
INSERT INTO Pais (nome) VALUES('Portugal');
INSERT INTO Pais (nome) VALUES('Romania');
INSERT INTO Pais (nome) VALUES('Russia');
INSERT INTO Pais (nome) VALUES('Singapore');
INSERT INTO Pais (nome) VALUES('Slovenia');
INSERT INTO Pais (nome) VALUES('South Africa');
INSERT INTO Pais (nome) VALUES('Spain');
INSERT INTO Pais (nome) VALUES('Sweden');
INSERT INTO Pais (nome) VALUES('Switzerland');
INSERT INTO Pais (nome) VALUES('Thailand');
INSERT INTO Pais (nome) VALUES('United Kingdom');
INSERT INTO Pais (nome) VALUES('United States');
INSERT INTO Pais (nome) VALUES('Uruguay');

// Selecionar a quantidade de homens e mulheres que quiseram ficar anonimos

In [4]:
SELECT COUNT(*) FROM Pessoa_Resposta R, Pessoa P where R.idPessoa=P.id and R.anonimidade='Yes' GROUP BY P.genero

// Selecionar a interferencia do trabalho por genero

In [5]:
SELECT COUNT(*) FROM Pessoa_Resposta R, Pessoa P where R.idPessoa=P.id and (R.interfere_trabalho='Sometimes' OR R.interfere_trabalho='Often') GROUP BY P.genero

In [6]:
// Selecionar a interferencia do trabalho por por idade

In [7]:
SELECT COUNT(*) FROM Pessoa_Resposta R, Pessoa P where R.idPessoa=P.id and (R.interfere_trabalho='Sometimes' OR R.interfere_trabalho='Often') GROUP BY P.idade

// Selecionar a quantidade de pessoas que buscam tratamento por idade

In [8]:
SELECT COUNT(*) FROM Pessoa_Resposta R, Pessoa P where R.idPessoa=P.id and R.busca_tratamento='Yes' GROUP BY P.idade

// Selecionar a quantidade de pessoas que buscam tratamento por genero

In [9]:
SELECT COUNT(*) FROM Pessoa_Resposta R, Pessoa P where R.idPessoa=P.id and R.busca_tratamento='Yes' GROUP BY P.genero